{% extends "layout.html" %}

{% block title %}
    Purchase History
{% endblock %}

{% block main %}
    <h2>Purchase History</h2>
    {% if purchases %}
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in purchases %}
                    <tr>
                        <td>Purchase</td>
                        <td>{{ purchase.symbol }}</td>
                        <td>{{ purchase.shares }}</td>
                        <td>{{ purchase.price | usd }}</td>
                        <td>{{ purchase.timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No purchase history available.</p>
    {% endif %}
{% endblock %}
