{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h2>Transaction History</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in history %}
                <tr>
                    <td>{% if transaction.shares > 0 %}Buy{% else %}Sell{% endif %}</td>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ abs(transaction.shares) }}</td>
                    <td>{{ transaction.price | usd }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
